<div class="workshop-table">
    <div class="workshop-table_header">
        <span class="workshop-cell -large">Datum</span>
        <span class="workshop-cell">Tijd</span>
        <span class="workshop-cell">Workshop</span>
        <span class="workshop-cell">Prijs</span>
        <span class="workshop-cell">Locatie</span>
        <span class="workshop-cell">Beschikbaar</span>
    </div>
    <ul class="workshop-table_body">
        <li *ngFor="let training of trainings | orderBy: 'date'"
            [ngClass]="{'-selected': training.selected}"
            class="workshop-row"
            (click)="onSelect(training)"
        >
            <span class="checkbox">
                <input type="checkbox" [(ngModel)]="training.selected">
                <span class="checkbox_square"></span>
            </span>
            <span class="workshop-cell -large -left">
                {{training.date | date: 'EEEE dd-MM-yyyy'}}
            </span>
            <span class="workshop-cell -right">
                {{training.time}}
            </span>
            <span class="workshop-cell -left">
                {{training.workshop}}
            </span>
            <span class="workshop-cell -right -nowrap">
                € {{training.priceFrom}},- {{training.priceTo}}
            </span>
            <span class="workshop-cell -left">
                {{training.location}}
            </span>
            <span class="workshop-cell -right">
                {{training.availability}} plaatsen
            </span>
        </li>
    </ul>
</div>