/*--------------------------------------/
 Colors
--------------------------------------*/
$dark: #3f3f3f;
$red: #e13a47;
$blue: #348dc7;
$green: #68A5A3;
$gray: #cccccc;
$gray-light: #eeeeee;
$gray-dark: #9f9f9f;
$orange: #fbb515;
$yellow: #ffda07;
$white: #fff;

/*--------------------------------------/
 Gradionts
--------------------------------------*/
$g-orange-yellow: linear-gradient(45deg, $orange, $yellow);

$base-color: $dark;
$primary-color: $red;


/*--------------------------------------/
 Font size
--------------------------------------*/
$base-font: 16px;


/*--------------------------------------/
 Fonts
--------------------------------------*/
$Helvetica: 'Helvetica', sans-serif;

$text-font: $Helvetica;
$heading-font: $Helvetica;

/*--------------------------------------/
 Media
--------------------------------------*/

$media-breakpoints: 480,640,860,1024,1280;

/*--------------------------------------/
 Path
--------------------------------------*/
$image-path: '/assets/img';

