<div class="sidebar">
    <div class="text-content">
        <strong>
            De 3M Signmaker Workshops zijn ontwikkeld met één hoofddoel voor ogen.
        </strong>
        <br>
        <br>
        <p>
            Het verder professionaliseren van de signmarkt. Hiervoor werkt 3M samen met de meest ervaren trainers die de sector te bieden heeft. De schat aan ervaring uit de praktijk van de trainers zorgen ervoor dat u bij een volgend project goed voorbereid voor de dag komt.
        </p>
    </div>
</div>