<div [formGroup]="formGroup">
    <div class="company">
        <div class="form-line">
            <div class="form-group">
                <input formControlName="name" placeholder="Company name" type="text">
            </div>
        </div>
        <div class="form-line">
            <div class="form-group company-street">
                <input formControlName="street" placeholder="Street" type="text">
            </div>
            <div class="form-group company-building">
                <input formControlName="building" placeholder="Number" type="text">
            </div>
            <div class="form-group company-zip">
                <input formControlName="zip" placeholder="Zipcode" type="text">
            </div>
        </div>
        <div class="form-line">
            <div class="form-group">
                <input formControlName="city" placeholder="City" type="text">
            </div>
            <div class="form-group">
                <input type="hidden" formControlName="country" [(ngModel)]="companyCountry">
                <ng-select [allowClear]="true"
                           [items]="countries"
                           placeholder="Country"
                           (data)="companyCountry = $event.id"></ng-select>
            </div>
        </div>
        <div class="form-line">
            <div class="form-group">
                <p>
                    Geen BTW nummer? Neem dan <a href="#">contact</a> op met 3M.
                </p>
            </div>
        </div>
    </div>
    <div formGroupName="billingAddress" class="company_billing-address" *ngIf="isBillingAddress" [@slideToggle]="isBillingAddress">
        <h3 class="heading -h6">
            Factuur adres
        </h3>
        <div class="form-line">
            <div class="form-group">
                <input formControlName="name" placeholder="Company name" type="text">
            </div>
        </div>
        <div class="form-line">
            <div class="form-group company-street">
                <input formControlName="street" placeholder="Street" type="text">
            </div>
            <div class="form-group company-building">
                <input formControlName="building" placeholder="Number" type="text">
            </div>
            <div class="form-group company-zip">
                <input formControlName="zip" placeholder="Zipcode" type="text">
            </div>
        </div>
        <div class="form-line">
            <div class="form-group">
                <input formControlName="city" placeholder="City" type="text">
            </div>
            <div class="form-group">
                <input type="hidden" formControlName="country" [(ngModel)]="billingCountry">
                <ng-select [allowClear]="true"
                           [items]="countries"
                           placeholder="Country"
                           (data)="billingCountry = $event.id"></ng-select>
            </div>
        </div>
    </div>

    <div class="form-line">
        <div class="form-group">
            <button class="btn-add" (click)="toggleBillingAddress()" [ngClass]="{'-active': isBillingAddress}">
                {{isBillingAddress ? 'Verwijder alternatief factuur adres' :'Alternatief factuur adres' }}
                <span class="btn-add_indicator"></span>
            </button>
        </div>
    </div>
</div>